<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ page.title }} | {{ site.title }}</title>

<link rel="stylesheet" href="/assets/css/style.css">

<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">

</head>

<body>

<nav class="nav">

  <a href="/">Home</a>

  {% if site.posts.size > 0 %}
    <a href="{{ site.posts.first.url }}" class="latest">
      Latest Post
    </a>
  {% endif %}

  <a href="/#posts">Posts</a>

</nav>

{{ content }}

<script src="/assets/js/terminal.js"></script>

</body>
</html>
